/* Tu CSS va aqui*/
.menu {
	text-decoration:none;
	color:black;
	font-family: 'Open Sans', sans-serif;
	font-size:105%;
}
.nav {
	margin-top:3%;

}
.gray {
	background-color:#125205;
	height:100%;
	padding:10% 15%;
}
.main-title {
	color:white;
	font-size:300%;
	font-family: 'Open Sans', sans-serif;
}
.parrafo {
	color:white;
	font-size:90%;
	font-family: 'Open Sans', sans-serif;
	margin-top:5%;
}

.icon-settings {
	font-size:140%;
	margin-left:2%;
	color:#125205;
}
.icon-user {
	font-size:140%;
	margin-left:2%;
	color:#125205;
}
/* formulario */
.get {
	color:white;
	font-family: 'Open Sans', sans-serif;
	font-size:120%;
	text-align:center;
	margin-bottom:5%;
}
#btn-enviar{
	width:50%;
	cursor:pointer;
	background-color:#125205;
	color:white;
	font-size:105%;
	padding:2% 0;
	transition: all 0.3s;
 	margin-top:2%;
  	border-radius:5%;
  	margin-bottom:5%;
}
 #btn-enviar:hover{
	background-color:black;
	color: white;
}
.feedback-input {
	color:#3c3c3c;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 1px solid #C6C6D4;
  	font-family: 'Open Sans', sans-serif;
  	border-radius:5px;
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 1px solid #192951;
	color: #192951;
	outline: none;
  	padding: 13px 13px 13px 54px;
}
.form h1{
	font-size: 34px;
	color: #192951;
}
.campos{
	margin-top: 30px;
}
.formulario {
	background-color:black;
	border-radius:5px;
	margin-bottom:10%;
	-webkit-box-shadow: -1px 10px 24px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 10px 24px 0px rgba(0,0,0,0.75);
	box-shadow: -1px 10px 24px 0px rgba(0,0,0,0.75);
}
.footer {
	color:white;
	background-color:black;
	font-size:70%;
	padding:3%;
	font-family: 'Open Sans', sans-serif;
}